<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" *ngIf="navbarVisible()">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="list-user">Users</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-event">Events</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="upload-file">Upload</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="report-netsuite-task">Netsuite</a></li>
      <li class="nav-item"><a class="nav-link" (click)="logout()" style="cursor: pointer; ">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
