.report-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.report-container td.duration {
  text-align: right;
  cursor: pointer;
}
.report-container tr.total {
  font-weight: bold;
}
.report-container td.highlighted {
	background-color: #DDD;
}